<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infohold.smallpay.map.dao.UserCheckMapper" >
  <resultMap id="BaseResultMap" type="com.infohold.smallpay.map.model.UserCheck" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="startdate" property="startdate" jdbcType="DATE" />
    <result column="enddate" property="enddate" jdbcType="DATE" />
    <result column="responsible" property="responsible" jdbcType="INTEGER" />
    <result column="discipline" property="discipline" jdbcType="INTEGER" />
    <result column="execution" property="execution" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, uid, startdate, enddate, responsible, discipline, execution
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_usercheck
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_usercheck
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.infohold.smallpay.map.model.UserCheck" >
    insert into p_usercheck (id, type, uid, 
      startdate, enddate, responsible, 
      discipline, execution)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{startdate,jdbcType=DATE}, #{enddate,jdbcType=DATE}, #{responsible,jdbcType=INTEGER}, 
      #{discipline,jdbcType=INTEGER}, #{execution,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.infohold.smallpay.map.model.UserCheck" >
    insert into p_usercheck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="startdate != null" >
        startdate,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="responsible != null" >
        responsible,
      </if>
      <if test="discipline != null" >
        discipline,
      </if>
      <if test="execution != null" >
        execution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="responsible != null" >
        #{responsible,jdbcType=INTEGER},
      </if>
      <if test="discipline != null" >
        #{discipline,jdbcType=INTEGER},
      </if>
      <if test="execution != null" >
        #{execution,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.infohold.smallpay.map.model.UserCheck" >
    update p_usercheck
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="startdate != null" >
        startdate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=DATE},
      </if>
      <if test="responsible != null" >
        responsible = #{responsible,jdbcType=INTEGER},
      </if>
      <if test="discipline != null" >
        discipline = #{discipline,jdbcType=INTEGER},
      </if>
      <if test="execution != null" >
        execution = #{execution,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infohold.smallpay.map.model.UserCheck" >
    update p_usercheck
    set type = #{type,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      startdate = #{startdate,jdbcType=DATE},
      enddate = #{enddate,jdbcType=DATE},
      responsible = #{responsible,jdbcType=INTEGER},
      discipline = #{discipline,jdbcType=INTEGER},
      execution = #{execution,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>